<ons-page>
  <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
    <div class="center" style="color:#fff; text-align: center;"> Notifications</div>
      </ons-toolbar>
    <div class="background"></div>
    <div class="content" class="normal-page">
        <ons-list-item class="notification-post">
            <div class="left">
              <img class="list-item__thumbnail" src="./../../assets/imgs/pic1.jpg" >
            </div>
            <div class="center">
              <div>
                <b>david_graham </b>est En Direct Now. <span style="opacity: 0.4;">1 hour ago</span>
              </div>

            </div>

          </ons-list-item>
          <ons-list-item class="notification-post">
            <div class="left">
              <img class="list-item__thumbnail" src="./../../assets/imgs/pic2.jpg" >
            </div>
            <div class="center">

              <div>
                <b>Pika Pika </b>est En Direct Now. <span style="opacity: 0.4;">2 hour ago</span>
              </div>

            </div>

          </ons-list-item>
          <ons-list-item class="notification-post">
            <div class="left">
              <img class="list-item__thumbnail" src="./../../assets/imgs/pic3.jpg" >
            </div>
            <div class="center">
              <div>
                <b>Zinour ZN </b>est En Direct Now. <span style="opacity: 0.4;">1 hour ago</span>
              </div>

            </div>

          </ons-list-item>
          <ons-list-item class="notification-post">
            <div class="left">
              <img class="list-item__thumbnail" src="./../../assets/imgs/pic4.jpg" >
            </div>
            <div class="center">
                   <div>
                <b>Bella lufy </b>est En Direct Now. <span style="opacity: 0.4;">1 hour ago</span>
              </div>
            </div>

          </ons-list-item>
    </div>
</ons-page>
