<ons-page >
  <ons-toolbar>
    <div class="center"> Login </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <div class="container-logo">
        <img src="../../assets/imgs/logofinal.PNG" />
    </div>
    <div class="socialLogin"style="text-align: center; margin: 10px;">
      <ons-button  full class="google" (click)="tryGoogleLogin()" ><ons-icon  icon="md-google" style="margin-right: 12px;"></ons-icon> Sign in with Google   </ons-button >
    </div>
    <div class="socialLogin"style="text-align: center; margin: 10px;">
      <ons-button  full class="facebook" (click)="tryFacebookLogin()"><ons-icon icon="md-facebook" style="margin-right: 12px;"></ons-icon>Sign in with Facebook</ons-button >
    </div>


    <div padding text-center class="form-bottom-text">
        <label>Don't have an Account? <a  href="/register">Sign up</a></label>
    </div>


  </div>
</ons-page>
