<ons-page>
  <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
    <div class="center"  style="color:#fff; text-align: center;">Profil</div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content" class="initial-page">
    <div class="profile-card">
      <img class="profile-image" [src]="user.image" *ngIf="user.image" alt="User image">
      <img class="profile-image" src="https://i.imgur.com/yr4jePd.png" *ngIf="!user.image" alt="User image">
      <div *ngIf='user.provider != "password"'class="card-body">
        <div class="profile-name">@{{user.name}}</div>
        <div class="profile-desc">Freelance designer, MEAN stack developer</div>
     </div>
  </div>


 <div *ngIf='user.provider == "password"'class="card-body">
   <div class="cen">
      <div class="profile-name">{{user.name}}</div>
      <br>
   </div>
  </div>

  <ons-list>
      <ons-list-item modifier="chevron tappable" ng-click="myNavTab3.pushPage('profile.html')">
          <div class="list__item__left">
              <ons-icon icon="ion-person" size="20px"></ons-icon>
          </div>
          <div class="list__item__center" routerLink="/edit">Modifier mon profil </div>
      </ons-list-item>
      <ons-list-item modifier="chevron tappable">
        <div class="list__item__left">
            <ons-icon icon="ion-map" size="20px"></ons-icon>
        </div>
        <div class="list__item__center">Chercher dans la carte </div>
    </ons-list-item>
      <ons-list-item modifier="chevron tappable">
          <div class="list__item__left">
              <ons-icon icon="ion-stats-bars" size="20px"></ons-icon>
          </div>
          <div class="list__item__center">Passer en ligne</div>
      </ons-list-item>
      <ons-list-item modifier="chevron tappable">
          <div class="list__item__left">
              <ons-icon icon="ion-play" size="20px"></ons-icon>
          </div>
          <div class="list__item__center">Vidéos enregistrées </div>
      </ons-list-item>
      <ons-list-item modifier="chevron tappable">
        <div class="list__item__left">
            <ons-icon icon="ion-person" size="20px"></ons-icon>
        </div>
        <div class="list__item__center">Liste des amis  </div>
    </ons-list-item>
    <ons-list-item modifier="chevron tappable">
      <div class="list__item__left">
          <ons-icon icon="ion-settings" size="20px"></ons-icon>
      </div>
      <div class="list__item__center" routerLink="/settings">Paramètres </div>
  </ons-list-item>
  <ons-list-item modifier="chevron tappable">
          <div class="list__item__left">
              <ons-icon icon="ion-log-out" size="20px"></ons-icon>
          </div>
          <div class="list__item__center" ><a (click)="logout()">Se déconnecter</a></div>
      </ons-list-item>
  </ons-list>
  </div>
  </ons-page>