<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="goToMap()">
      Map
    </ons-toolbar-button>
  </div>
  <div class="center">
    <ons-toolbar-button>
      Profile
    </ons-toolbar-button>
  </div>
  <div class="right">
    <ons-toolbar-button (click)="logout()">
      Logout
    </ons-toolbar-button>
  </div>
</ons-toolbar>
<!-- <h1 class="header">Profile</h1> -->
<ons-page>

<h1 class="header">Logged User Page</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <img class="card-img-top image" [src]="user.image" *ngIf="user.image" alt="User image">
      <img class="card-img-top image" src="https://via.placeholder.com/400x300" *ngIf="!user.image" alt="User image">
      <div *ngIf='user.provider != "password"'class="card-body">
        <h4 class="card-title">{{user.name}}</h4>
        <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 7 web app. </p>
      </div>

      <div *ngIf='user.provider == "password"'class="card-body">
        <form [formGroup]="profileForm">
          <div class="form-group">
            <label>Your name : </label>
            <ons-input type="text" formControlName="name" class="form-control" required></ons-input>

          </div>
        </form>
        <ons-button (click)="save(profileForm.value)" class="btn btn-primary">Save</ons-button>
      </div>
    </div>
  </div>
</div>

</ons-page>
