<ons-page>
  <ons-tabbar>
    <div class="tabbar__content"></div>
    <div class="tabbar">
      <ons-tab label="Accueil" icon="ion-home" [page]="home" ></ons-tab>
      <ons-tab label="Diffusion" icon="ion-camera" [page]="streaming"></ons-tab>
      <ons-tab label="Carte"  icon="fa-map-marked-alt" [page]="map"></ons-tab>
      <ons-tab label="Profil"  icon="ion-person" [page]="user" active></ons-tab>
      <ons-tab label="Notifications" icon="md-notifications" [page]="notif" ></ons-tab>
    </div>
  </ons-tabbar>
  </ons-page>

