.camera-view {
  width: 100%;
  height: 60%;
  text-align: center;
  background-color: #cacaca;
  display: table;
}

.camera-icon {
  vertical-align: middle !important;
  font-size: 100px;
  opacity: 0.4;
  display: table-cell;
}

