<ons-page>
  <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
    <div class="center">Home</div>
    </ons-toolbar>
    <div class="background"></div>
    <div class="content" class="initial-page">
        <br>

        <ons-list-header><ons-search-input class="search_box"  placeholder="Search"></ons-search-input></ons-list-header>
        <br>
      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
        </div>
        <div class="center">
          <span class="list-item__title">Cutest kitty <span class="list-item__subtitle">@kitty</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="./../../assets/imgs/pic1.jpg">
        </div>
        <div class="center">
          <span class="list-item__title">Bella lufy <span class="list-item__subtitle">@lufy</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="./../../assets/imgs/pic2.jpg">
        </div>
        <div class="center">
          <span class="list-item__title">Pika Pika <span class="list-item__subtitle">@pika</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="./../../assets/imgs/pic3.jpg">
        </div>
        <div class="center">
          <span class="list-item__title">Zinour ZN <span class="list-item__subtitle">@nour</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="./../../assets/imgs/pic4.jpg">
        </div>
        <div class="center">
          <span class="list-item__title">Amelia Es <span class="list-item__subtitle">@amelia</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="./../../assets/imgs/pic5.jpg">
        </div>
        <div class="center">
          <span class="list-item__title">Sarah sh  <span class="list-item__subtitle">@sarah</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="./../../assets/imgs/pic6.jpg">
        </div>
        <div class="center">
          <span class="list-item__title">Sofia sofia <span class="list-item__subtitle">@sofi</span></span>
          <span class="list-item__subtitle">LIVE NOW #2019</span>
        </div>
        <div class="right">
          <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
        </div>
      </ons-list-item>

    </div>
    </ons-page>
