<ons-page>
  <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
    <div class="center"  style="color:#fff; text-align: center;">Map</div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content" class="initial-page">
    <div *ngIf="lat && lng">

      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng">

          <agm-info-window>
            <p>You are here!</p>
          </agm-info-window>

        </agm-marker>
      </agm-map>

    </div>
  </div>
  </ons-page>



