<ons-page>
  <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
    <div class="center"  style="color:#fff; text-align: center;">Accueil</div>
    </ons-toolbar>
    <div class="background"></div>
    <div class="content" class="initial-page">
        <br>

        <ons-list-header><ons-search-input class="search_box"  placeholder="Recherche"></ons-search-input></ons-list-header>

        <div style="text-align: left; ">
          <ons-list-header>
              <h4 style="font-weight:normal;">Recherchez par la catégorie :</h4>  
              <ons-select class="select"   modifier="material">
                  <select class="select-input" [(ngModel)]="selectedOption" (change)="getStreamingsByCat(selectedOption);">
                    <option >Sélectionner tout</option>
                    <option >Arts, Musique, Cinéma</option>
                    <option>Social</option>
                    <option>Education, Conférence</option>
                    <option>Actualités internationales</option>
                    <option>Actualités nationales</option>
                    <option>IT, Informatique</option>
                    <option>Litterature, Philosophie</option>
                    <option>Science, L'espace</option>
                    <option>Autres</option>
                  </select>
                </ons-select>
              </ons-list-header>        
        </div>
        
        <ons-list-item *ngFor="let streaming of streamings">
            <div class="left">
                <img class="list-item__thumbnail" src="https://i.imgur.com/yr4jePd.png" >
              </div>
              <div class="center">
                  <span class="list-item__title">{{streaming.userName}} <span class="list-item__subtitle">** {{streaming.eventName}}</span></span>
                  <span class="list-item__subtitle">{{streaming.category}}</span>
                </div>
                <div class="right">
                  <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
                </div>
        </ons-list-item>
        <ons-list-item *ngFor="let streaming of streamingsByCat">
          <div class="left">
              <img class="list-item__thumbnail" src="https://i.imgur.com/yr4jePd.png" >
            </div>
            <div class="center">
                <span class="list-item__title">{{streaming.userName}} <span class="list-item__subtitle">** {{streaming.eventName}}</span></span>
                <span class="list-item__subtitle">{{streaming.category}}</span>
              </div>
              <div class="right">
                <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
              </div>
      </ons-list-item>

    </div>
    </ons-page>
