<ons-page>
  <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
    <div class="center"  style="color:#fff; text-align: center;">Accueil</div>
    </ons-toolbar>
    <div class="background"></div>
    <div class="content" class="initial-page">
        <br>

        <ons-list-header><ons-search-input class="search_box"  placeholder="Search"></ons-search-input></ons-list-header>
        <br>

        <div style="text-align: left; ">
          <h4 style="font-weight:normal;">Recherchez par la catégorie de l'évènement :</h4>          
        </div>
        <ons-select class="select"   modifier="material">
          <select class="select-input" [(ngModel)]="selectedOption" (change)="fillStreaming(selectedOption);">
            <option >Arts, Musique, Cinéma</option>
            <option>Social</option>
            <option>Education, Conférence</option>
            <option>Actualités internationales</option>
            <option>Actualités nationales</option>
            <option>IT, Informatique</option>
            <option>Litterature, Philosophie</option>
            <option>Science, L'espace</option>
            <option>Autres</option>
          </select>
        </ons-select>
        <ons-list-item *ngFor="let streaming of streamings">
            <div class="left">
                <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
              </div>
              <div class="center">
                  <span class="list-item__title">{{streaming.userName}} <span class="list-item__subtitle">** {{streaming.eventName}}</span></span>
                  <span class="list-item__subtitle">{{streaming.category}}</span>
                </div>
                <div class="right">
                  <ons-toolbar-button ><ons-icon class="right" icon="ion-person-add"></ons-icon></ons-toolbar-button>
                </div>
        </ons-list-item>

    </div>
    </ons-page>
