<ons-page class="main_pages"  id="camera-page">
    <ons-toolbar style="background-color:#4483A0;border-color:#4483A0; color:#fff;">
     <div class="left">
       <div class="bk-btn" routerLink="/tabs">
        <div class="bk-btn-triangle"></div>
        <div class="bk-btn-bar"></div>
      </div>
    </div>
     <div class="center"  style="margin-left:80px;color:#fff; ">Paramètres</div>
   </ons-toolbar>
   <div class="background"></div>
   <div class="content" class="normal-page">
     <div style="text-align: center; margin: 10px">
        <div style="text-align: center; margin: 10px">
        </div>
      
  
         <div><h3>Compte et sécurité</h3></div>
         <div class="card">
           <div style="padding: 10px">
              <div ><h4 style="font-weight:bold;">Mot de passe</h4></div>
             <ons-input icon="fa-file" placeholder="changer votre mot de passe" ></ons-input>
           </div>
           <div style="padding: 10px">
               <div ><h4 style="font-weight:bold;">Visibilité</h4>
                <ons-radio></ons-radio> Publique (Tout le monde)<br />
                <ons-radio></ons-radio> Privée (les suiveurs seulement)
            </div>
           </div>
          
           
         <div style="text-align: right; margin: 10px;">
           <ons-button modifier="large" style="background-color:#4483A0;" type="submit">Mettre à jour</ons-button>
           </div>
         </div>
     </div>
     <div>
  
     </div>
   </div>
  </ons-page>